/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url("https://wallpapers.com/images/hd/horror-movie-collage-2560-x-1600-7rsxip7198v2wynq.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow-y: auto;
}

h1 {
    color: #4e54c8;
    font-size: 24px;
    margin-bottom: 20px;
}


.input-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease;
    resize: none;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #8f94fb;
    outline: none;
}


.button {
    background-color: #4e54c8;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3b42b3;
}


#catalogo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 80px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-info h3 {
    font-size: 18px;
    color: #4e54c8;
    margin: 0;
}

.card-info p {
    margin: 0;
    color: #555;
}

.card-info .descricao {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}
